body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 100vh;
}
.col-md-7 {
    margin-top: 150px !important;
    background-color: white;
    padding: 20px !important;
}
h1 {
    background-color:pink;
    color: white;
}

input, label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}